<%- include("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header">Uh-huh</div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="https://www.elegantthemes.com/blog/wp-content/uploads/2020/02/000-404.png" />
    </div>
    <div class="item">
      <div class="content"><%=error%></div> 
    </div>
    <div class="item">
      <div class="content">
        <p style="word-wrap: break-word"><%- blog.body %></p>
      </div>
    </div>
    <% if(authorised==true){ %>
    <form
      id="delete"
      action="/blogs/<%= blog._id%>?_method=DELETE"
      method="POST"
    >
      <button class="ui button red basic" type="submit">Delete</button>
    </form>
    <a class="ui button blue basic" href="/blogs/<%=blog.id%>/edit">Edit</a>
    <% } %>
  </div>
</div>



<%- include("partials/footer") %>

<script type="text/javascript"> 
var windowObject;
function openDialog(){
    windowObject = window.open("http://www.cnn.com/", "CNN_WindowName", "popup")
} 
</script>