<%- include("partials/header") %>
<div class="ui main text container segment">
  <div class="ui huge header"><%= blog.title %></div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="<%= blog.image %>" />
      <div class="content"><%= blog.created.toDateString() %></div>
    </div>
    <div class="item">
      <div class="content"><%= author %></div> 
    </div>
    <div class="item">
      <div class="content">
        <p style="word-wrap: break-word"><%- blog.body %></p>
      </div>
    </div>
    <% if(authorised==true){ %>
    <form
      id="delete"
      action="/blogs/<%= blog._id%>?_method=DELETE"
      method="POST"
    >
      <button onclick="return confirm('Are you sure? the blog can\'t be recovered once deleted');" class="ui button red basic delete" type="submit">Delete</button>
    </form>
    <a class="ui button blue basic" href="/blogs/<%=blog.id%>/edit">Edit</a>
    <% } %>
  </div>
</div>

<%- include("partials/footer") %>
